
<div class="d-flex align-items-center justify-content-center">
  <h1>Main index</h1>
</div>

<div class="container">
  <%= button_to "Connect Twitter", "/auth/twitter", method: :post, class: "btn btn-primary" %>
</div>
